<% include header.ejs %>

<div id="main-holder" class="container_16">
	<div class="grid_13">
		<h1><%= pageUrl.replace("http://","") %></h1>    
	</div>
	<div class="grid_3 logo">
		Stylify Me
	</div>




	<div class="grid_16">
		<h2>Background Colours</h2>    
	</div>

	<% for(var i=0; i<data["coloursBg"].length; i++) {%>
		<% if(i<8){ %>
	   <div class="grid_2">    
			<figure id="color-<%= i+1%>" class="swatch-wrap">
				<div class="swatch-holder" style="background-color:<%= data["coloursBg"][i][0] %>"></div>
				<figcaption>
					HEX
					<span class="colour-hex"><%= data["coloursBg"][i][0] %></span>
				</figcaption>
			</figure>
		</div>
		<% } %>
	<% } %>

	<div class="grid_16">
		<h2>Text Colours</h2>    
	</div>

	<% for(var i=0; i<data["coloursText"].length; i++) {%>
		<% if(i<8){ %>
	   <div class="grid_2">    
			<figure id="color-<%= i+1%>" class="swatch-wrap">
				<div class="swatch-holder" style="background-color:<%= data["coloursText"][i][0] %>"></div>
				<figcaption>
					HEX
					<span class="colour-hex"><%= data["coloursText"][i][0] %></span>
				</figcaption>
			</figure>
		</div>
		<% } %>
	<% } %>

	


	<h2 class="grid_16">Typography</h2>
		

	<dl class="grid_16 grid-dl">
		
		<% for(var i=1; i<=6; i++){ %>
			<% var typo = data.typography["h"+i]; %>
			<dt id="result-header-h<%= i %>-dt" class="<%= typo['font']=='N/A' ? 'not-set' : '' %> <%= i==1?'first' : '' %>">
				<strong>Header <%= i %>:</strong> 
				<span><%= typo["font"] + ", " + typo["font-style"] + ", " + typo["font-size"] + ", " + typo["leading"] + ", " + typo["text-colour"]%></span>
			</dt>
			<dd id="result-header-h<%= i %>-dd" class="<%= typo['font']=='N/A' ? 'not-set' : '' %> <%= i==1?'first' : '' %>" style="font-family:<%=typo["font"]%>; font-style:<%=typo["font-style"]%>; font-size:<%=typo["font-size"]%>; line-height:<%=typo["line-height"]%>; color:<%=typo["color"]%>; background-color:<%=typo["background-color"] == '#ffffff' ? '#959595' : 'transparent'%>;">
				<span>The quick brown fox jumps over the lazy dog and feels as if he were in the seventh heaven</span>
			</dd>
		<% } %>

		<% var bodyTypo = data.typography["body"]; %>
		<dt id="result-header-body-dt" class="<%= bodyTypo['font']=='N/A' ? 'not-set':'' %>"><strong>Body:</strong> <span><%= bodyTypo["font"] + ", " + bodyTypo["font-style"] + ", " + bodyTypo["font-size"] + ", " + bodyTypo["leading"] + ", " + bodyTypo["text-colour"]%></span></dt>
		<dd id="result-header-body-dd" class="<%= bodyTypo['font']=='N/A' ? 'not-set':'' %>" style="font-family:<%=bodyTypo["font"]%>; font-style:<%=bodyTypo["font-style"]%>; font-size:<%=bodyTypo["font-size"]%>; line-height:<%=bodyTypo["line-height"]%>; color:<%=bodyTypo["color"]%>; background-color:<%=bodyTypo["background-color"] == '#ffffff' ? '#959595' : 'transparent'%>;"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id tempus tellus. Ut consectetur congue turpis, nec vestibulum nulla ullamcorper a. Cras congue tellus et diam blandit porttitor. Aliquam elit orci, interdum vitae hendrerit id, semper non nisl. Quisque faucibus iaculis mauris, id lobortis lacus consequat sit amet. Phasellus arcu nunc, iaculis mollis sodales ut, blandit eget mauris. Nulla adipiscing feugiat sagittis. Mauris vel semper est.</span></dd>

		<dt id="result-links-dt" class="last"><strong>Links (Header #)</strong></dt>
		<dd id="result-links-dd" class="last"><span style="color:<%=data["a-text-colour"]%>">Example Link</span></dd>

	</dl>



	<h2 class="grid_16">Image Dimensions</h2>



	<% for(var i=0; i<data["img-paths"].length; i++) {%>
		<div id="image-holder-<%= i+1 %>" class="image-holder">
			<img src="<%= data["img-paths"][i].src %>" />
			<span><%= data["img-paths"][i].w %> x <%= data["img-paths"][i].h %> px</span>
		</div>
	<% } %>


	<div id="homepage-img-section" class="page-break">
	<h2 class="grid_16">Homepage</h2>
	
	<div id="homepage-img-holder" class="grid_16">
		<img src="/<%=data["thumbPath"]%>" />
	</div>
	</div>

</div>
<% include footer.ejs %>